body{
    overflow-x: hidden;
    background-color: #F4F4F4;
}

@media (max-width: 640px){
    .headerContent{
        display: flex;
        height: 800px;
    }

    .card-content{
        width: 70vw;
    }
}

@media (min-width: 1000px){
    .card-content{
        width: 30vw;
    }
}

.divider{
    border-top: solid 1px blue;!important;
}

.dividerVertical{
    border-left: solid 1px blue;!important;
    margin-left: 10px;!important;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.hero-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../assets/images/Header-IPTV.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#Accueil{
    height: 100vh;
    width: 100vw;
}

#Price{
    height: 90%;
    width: 100vw;
}

#Contact{
    width: 50vw;
    height: 80vh;
}

ul{
    list-style: none;!important;
}

li{
    margin-bottom: 5px;!important;
}

.item-presentation{
    width: 16em;
    height: 15em;
}


